:global(html), :global(body) {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: black;
  font-family: sans-serif;
  color: white;
}

:global(#root) {
  height: 100%;
}

:global(iframe) {
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
}

.bottom {
  grid-column: 1 / 3;
}
