input, img {
  vertical-align: middle;
}

.controls {
  padding-top: 5px;
}

#timelineArea {
  height: 100px;
  position: relative;
  overflow: auto;
  color: black;
}

.timeline {
  height: 10px;
  background-color: black;
  margin-top: 4px;
  margin-bottom: 4px;
}

.timelinePos {
  position: absolute;
  top: 0px;

  width: 10px; height: 10px; 
  -webkit-border-radius: 10px; -moz-border-radius: 10px;
  background-color: white;
  border: 5px solid black;
}
.timeline:hover .timelinePos {
  background-color: red;
}

.tick {
  position: absolute;
  background-color: black;
  top: 4px;
  width: 1px;
  height: 20px;
}

.longTick {
  height: 40px;
}

.tickText {
  position: absolute;
  top: 25px;
}

.annotation {
  position: absolute;
  height: 25px;
  line-height: 25px;
  background-color: red;
  cursor: move;
  overflow: hidden;
  text-align: center;
}

.resizer-right {
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
  cursor: ew-resize;
}

.resizer-left {
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  cursor: ew-resize;
}
